<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Update a module</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

	<form action="#" th:action="@{/module/update}" th:object="${module}"
		method="post">
		<input type="hidden" th:field="*{id}">
		
		<label for="name">Name</label>
		<input type="text" th:field="*{name}" placeholder="Classroom name" required="required">
		
		<label for="hours">Hours</label>
		<input type="text" th:field="*{hours}" placeholder="Hourly weight" required="required">
		
		<label for="teacher">Teacher</label>
		<select th:field="*{teacher.id}" id="teacher" class="w3-select">
 			 <option th:each="elementTeacher : ${teachers}" 
          		th:value="${elementTeacher.id}" 
          		th:text="${elementTeacher.firstname}">Teacher name</option>
		</select>
				
		<label for="classroom">Classroom</label>
		<select th:field="*{classroom.id}" id="classroom">
 			 <option th:each="elementClassroom : ${classrooms}" 
          		th:value="${elementClassroom.id}" 
          		th:text="${elementClassroom.name}">Classroom name</option>
		</select>
		
		<input type="submit" value="Update Module">
	</form>

</body>

</html>