<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Add a Student</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

	<form action="#" th:action="@{/student/add}" th:object="${student}"
		method="post">
		
		<label for="firstname">Firstname</label>
		<input type="text" th:field="*{firstname}" placeholder="Firstname" required="required">
		
		<label for="lastname">Lastname</label>
		<input type="text" th:field="*{lastname}" placeholder="Lastname" required="required">
		
		<label for="email">Email</label>
		<input type="email" th:field="*{email}" placeholder="Email" required="required">
		
		<label for="phone">Matricule</label>
		<input type="text" th:field="*{matricule}" placeholder="Student matricule" required="required">
		
		<label for="classroom">Classroom</label>
		<select th:field="*{classroom.id}" id="classroom">
 			 <option th:each="elementClassroom : ${classrooms}" 
          		th:value="${elementClassroom.id}" 
          		th:text="${elementClassroom.name}">Classroom name</option>
		</select>
		<input type="submit" value="Add Student">
	</form>

</body>

</html>