<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8">
<th:block th:insert="~{fragments/dependencies::minimum}"></th:block>
<script type="text/javascript" th:src="@{/js/scripts.js}"></script>
<title>Dashboard - Students</title>
</head>

<body class="w3-theme-l5">

<th:block th:insert="~{fragments/menus::my-sidebar}"></th:block>

<th:block th:insert="~{fragments/menus::my-sidebar-mobile}"></th:block>

<div style="margin-left:20%;width:80%;">
	<th:block th:insert="~{fragments/menus::my-topbar}"></th:block>
	<th:block th:insert="~{fragments/panel::my-panel(tabletitle='Students list')}"></th:block>

	<div th:fragment="tableStudents" th:switch="${students.isEmpty()}" class="w3-container w3-theme w3-margin w3-padding-16 w3-round-large w3-card-4">
		<div th:case="true">
			<h2 class="w3-large w3-padding-24">No students found!</h2>
			<a sec:authorize="hasAnyAuthority('ADMIN','MANAGER')" href="#Add" class="w3-button w3-theme-d5 w3-left" onclick="document.getElementById('studentCreationForm').style.display='block'">Add a new student</a>
		</div>
		
		<div th:case="*" class="w3-responsive">
			<div class="w3-row w3-margin-bottom">
	  			<div class="w3-half">
	  				<input id="studentSearchField" type="text" placeholder="Search for firstname" class="w3-center w3-theme-l3 w3-border-0 w3-round w3-padding" style="width:100%" onkeyup="mySearchFunction('studentSearchField','myStudentsTable')">
	  			</div>
	   			<a sec:authorize="hasAnyAuthority('ADMIN','MANAGER')" href="#Add" class="w3-button w3-theme-d5 w3-right" onclick="document.getElementById('studentCreationForm').style.display='block'">Add</a>
	 			</div>
			<table id="myStudentsTable" class="w3-table-all w3-light-grey w3-hoverable">
				<thead>
					<tr>
						<th>Firstname</th>
						<th>Lastname</th>
						<th>Email</th>
						<th>Matricule</th>
						<th sec:authorize="hasAnyAuthority('ADMIN','MANAGER')" style="width:25%;">Options</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="student : ${students}" class="w3-hover-black" th:classappend="${#arrays.contains(student.roles, studentRole)} ? w3-sand : w3-theme-l4">
						<td th:text="${student.firstname}"></td>
						<td th:text="${student.lastname}"></td>
						<td th:text="${student.email}"></td>
						<td th:text="${student.matricule}"></td>
						<td sec:authorize="hasAnyAuthority('ADMIN','MANAGER')">
							<a th:href="@{/student/graduate/{id}(id=${student.id})}" class="w3-button w3-lime" title="Graduate"><i th:classappend="${#arrays.contains(student.roles, studentRole)} ? fa-level-up : fa-level-down" class="fa fa-level-up w3-large"></i></a>
							<a th:href="@{/student/update/{id}(id=${student.id})}" class="w3-button w3-theme-d5" title="Edit"><i class="fa fa-pencil w3-large"></i></a>
							<a th:href="@{/student/reset/{id}(id=${student.id})}" class="w3-button w3-theme-d5" title="Reset"><i class="fa fa-undo w3-large"></i></a>
							<a th:href="@{/student/delete/{id}(id=${student.id})}" class="w3-button w3-red" title="Delete"><i class="fa fa-trash-o w3-large"></i></a>
							<a th:href="@{/student/status/{id}(id=${student.id})}" 
								class="w3-button" th:classappend="${student.enabled} ? w3-green : w3-orange" title="Enable/Disable">
								<i class="fa fa-thumbs-o-up w3-large" th:if="${student.enabled}"></i>
								<i class="fa fa-thumbs-o-down w3-large" th:if="${!student.enabled}"></i>
							</a>
							
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<div th:fragment="studentCreationForm" id="studentCreationForm" class="w3-modal">
	<div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width: 600px">
		<header class="w3-container w3-green">
			<span
				onclick="document.getElementById('studentCreationForm').style.display='none'"
				class="w3-button w3-xlarge w3-hover-red w3-display-topright"
				title="Close Modal">&times;</span>
			<h2>New student</h2>
		</header>

		<form class="w3-container" th:action="@{/student/add}" th:object="${student}" method="post">
			<div class="w3-section">
				<label for="firstname"><b>Firstname</b></label>
				<input th:field="*{firstname}" class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter firstname"  required>
				
				<label for="lastname"><b>Lastname</b></label>
				<input th:field="*{lastname}" class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter lastname"  required>
				
				<label for="email"><b>Email</b></label>
				<input th:field="*{email}" class="w3-input w3-border w3-margin-bottom" type="email" placeholder="Enter email"  required>
				
				<label for="matricule"><b>Matricule</b></label>
				<input th:field="*{matricule}" class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter phone number"  required>
				
				<label for="classroom">Classroom</label>
				<select th:field="*{classroom.id}" id="classroom" class="w3-select">
		 			 <option th:each="elementClassroom : ${classrooms}" 
		          		th:value="${elementClassroom.id}" 
		          		th:text="${elementClassroom.name}">Classroom name</option>
				</select>
				
				<button class="w3-button w3-block w3-green w3-section w3-padding"
					type="submit">Add Student</button>
			</div>
		</form>

		<footer
			class="w3-container w3-border-top w3-padding-16 w3-light-grey">
			<button
				onclick="document.getElementById('studentCreationForm').style.display='none'"
				type="button" class="w3-button w3-red">Cancel</button>
		</footer>

	</div>
</div>
	
<th:block th:insert="~{fragments/forms::passwordForm}"></th:block>

</body>
</html>