<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>List teachers</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<div th:switch="${teachers.isEmpty()}">
		<h2 th:case="true">No teachers found!</h2>
		<div th:case="*">
			<h2>Teachers</h2>
			<table>
				<thead>
					<tr>
						<th>Firstname</th>
						<th>Lastname</th>
						<th>Email</th>
						<th>Phone</th>
						<th>Edit</th>
						<th>Reset</th>
						<th>Delete</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="teacher : ${teachers}">
						<td th:text="${teacher.firstname}"></td>
						<td th:text="${teacher.lastname}"></td>
						<td th:text="${teacher.email}"></td>
						<td th:text="${teacher.phone}"></td>
						<td><a th:href="@{/teacher/update/{id}(id=${teacher.id})}">Edit</a></td>
						<td><a th:href="@{/teacher/reset/{id}(id=${teacher.id})}">Reset</a></td>
						<td><a th:href="@{/teacher/status/{id}(id=${teacher.id})}"
								th:utext="${teacher.enabled} ? 'Disable' : 'Enable'">Enabled</a></td>
						<td><a th:href="@{/teacher/delete/{id}(id=${teacher.id})}">Delete</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<p>
			<a href="/teacher/add">Add a new teacher</a>
		</p>
	</div>
</body>
</html>