<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Add a classroom</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

	<form action="#" th:action="@{/classroom/add}" th:object="${classroom}"
		method="post">
		
		<label for="name">Name</label>
		<input type="text" th:field="*{name}" id="name" placeholder="Name">
		
		<label for="year">Starting year</label>
		<input type="number" th:field="*{year}" id="year" placeholder="Year">
		
		<input type="submit" value="Add User">
	</form>

</body>

</html>